@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;

    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: gray;

    display: flex;
    flex-direction: column;

    color: white;
}

h1 {
    font-size: xx-large;
    height: 100%;
    background-color: #04AA6D;
    padding: 2%;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    height: 100%;
    padding: 0 5%;

    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: larger;

    display: none;
}

nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav a:hover {
    background-color: #333;
}

#game-environment {
    padding: 2% 0;
    width: 100%;

    background-color: white;
    
    display: flex;
    flex-direction: column;
}

#game-area {
    background-color: lightgreen;

    display: inline-grid;
    grid-template-columns: repeat(3, 31%);
    grid-template-rows: repeat(4, 18%);
    gap: 2%;
    align-items: center;
    justify-items: center;

    width: 98%;
    padding: 2%;
    padding-bottom: 100px;
}

#game-controls {
    padding: 5px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#game-admin {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

button {
    display: inline-block;
    margin-right: 10px;
    background: #339DFF;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    line-height: 38px;
    border-radius: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 150px;
    text-align: center;

    font-weight: bold; 
}

button:hover {
    background: #fff;
    color: #339DFF;
    box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}

.button_playing {
    background: #fff;
    color: #339DFF;
    box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32); 
}

#instructions {
    display: inline;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    line-height: 38px;
    border-radius: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 50px;
    text-align: center;

    font-weight: bold; 
    background-color: gray;
}

#instructions:hover {
    background: #fff;
    color: gray;
    box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}

/* button_active {
    background-color: lightskyblue;
    border-radius: 10px;
    height: 40px;
    width: 120px;

    font-weight: bold;
}

button_deactive {
    background-color: lightskyblue;
    border-radius: 10px;
    height: 40px;
    width: 120px;

    color: lightslategray;
} */

#scoreboard {
    display: inherit;
    justify-content: space-around;
    padding: 5px 0;
}

#scoreboard > div {
    width: 120px;
    height: 40px;
}

#score-title {
    display: inherit;
    justify-content: center;
    align-items: center;

    background-color: white;
    border: 1px solid darkgrey;
    border-radius: 10px;

    font-weight: bold;
    margin: 0 2px;
}

.icon-green {
    color: #04AA6D;
    padding: 0 5px;
    font-weight: bolder;
}

#hammer-title {
    display: inherit;
    justify-content: center;
    align-items: center;

    background-color: white;
    border: 1px solid darkgrey;
    border-radius: 10px;

    font-weight: bold;

    margin: 0 2px;
}

.icon-red {
    color: red;
    padding: 0 5px;
    font-weight: bolder;
}

.molehole { 
    height: 120px;  
    width: 100%; 
    border: solid 1px black; 
    background-color: black; 
    opacity: 0.25;
    border-radius: 50%;  
}

.mole { 
    height: 120px;  
    width: 100%; 
    /* border: solid 1px black;  */
    /* background-color: brown;  */
    border-radius: 50%;  

    background-image: url("../images/mole_normal.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    opacity: 1;
}

footer {
    background-color: grey;
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 2% 0;

    bottom: 0;
    position: fixed;
    height: 15%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;

    margin: 0;
}

footer p {
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 6px;
}

footer a:hover {
    text-decoration: underline;
}


/* https://www.codexworld.com/code-snippets/modal-popup-with-html-css-jquery/ */
.animate-top{
    position:relative;
    animation:animatetop 0.4s
}
@keyframes animatetop{
    from{top:-300px;opacity:0} 
    to{top:0;opacity:1}
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.275);
}

.modal-content {
    margin: 5% auto;
    width: 500px;
    max-width: 90%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: .3rem;
    outline: 0;

    background-color: #333;
    color: white;
    font-weight: bold;

    border-radius: 10px;

    border: 5px dashed yellow;
}
.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    margin-top: 0;
    font-size: 1.25rem;
    width: 65%;
}
.modal-header .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    padding: 1rem 2%;
    margin: -1rem -1rem -1rem auto;
    background-color: transparent;
    border: 0;
    width: 50px;
}
.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.modal-body {
    flex: 1 1 auto;
    padding: 1rem;
}
.modal-body p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}
.modal-footer>*{
    margin: 5px;
}

#gameOver {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: #333;
    color: white;
    font-weight: bold;
    top: 22%;
    left: 10%;
    width: 80%;
    height: 100px;
    text-align: center;

    flex-direction: column;
    justify-content: center;
    
    border: 5px dashed yellow;
}


/* Mobile */
/* @media only screen and (min-width: 290px) and (max-width: 549px) {

} */

/* Phablet */
@media only screen and (min-width: 550px) {
    /* change to single line */
    /* change to 4x5 */

    header {
        position: sticky;
        top: 0;
        width: 100%;
        background-color: grey;

        height: 75px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;

        color: white;
    }

    h1 {
        position: absolute;
        left: 0;
        top: 0;
        font-size: xx-large;
        height: 100%;
        background-color: #04AA6D;
        padding: 0 2%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 5%;
        background-color: blue;

        display: flex;
        flex-direction: row;
        align-items: center;

        font-size: larger;
    }

    #game-controls {
        padding: 5px 0;
    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    button {
        background-color: lightskyblue;
        border-radius: 10px;
        height: 40px;
        width: 120px;
    
        font-weight: bold;
    }
    
    #scoreboard {
        display: inherit;
        justify-content: space-around;
    }
    
    #scoreboard > div {
        width: 120px;
    }
    
    #game-score {
        display: inherit;
        justify-content: center;
        align-items: center;
    
        background-color: white;
        border: 1px solid darkgrey;
        border-radius: 10px;
    
        font-weight: bold;
    }
    
    .icon-green {
        color: greenyellow;
        padding: 0 5px;
        font-weight: bolder;
    }
    
    #hammer-hp {
        display: inherit;
        justify-content: center;
        align-items: center;
    
        background-color: white;
        border: 1px solid darkgrey;
        border-radius: 10px;
    
        font-weight: bold;
    }
    
    .icon-red {
        color: red;
        padding: 0 5px;
        font-weight: bolder;
    }

    #game-area {
        /* height: 100%; */
        width: 98%;
    
        background-color: lightgreen;
    
        display: inline-grid;
        grid-template-columns: repeat(4, 18%);
        grid-template-rows: repeat(5, 18%);
        gap: 2%;
        align-items: center;
        justify-items: center;
    }
    
}

/* Tablet */
@media only screen and (min-width: 750px) {
    /* change to 5x5 */

    #game-area {
        /* height: 100%; */
        width: 98%;
    
        background-color: lightgreen;
    
        display: inline-grid;
        grid-template-columns: repeat(5, 18%);
        grid-template-rows: repeat(5, 18%);
        gap: 2%;
        align-items: center;
        justify-items: center;
    }
    
}

/* Desktop */
@media only screen and (min-width: 1400px) {
    /* change to 7x5 */

    #game-area {
        /* height: 100%; */
        width: 98%;
    
        background-color: lightgreen;
    
        display: inline-grid;
        grid-template-columns: repeat(7, 18%);
        grid-template-rows: repeat(5, 18%);
        gap: 2%;
        align-items: center;
        justify-items: center;
    }   
}